{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block profile %}
    {{profile}}
{% endblock %}

{% block main %}
    <h2>History</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
                <tr>
                    <td class="text-start">{{ record['symbol'] }}</td>
                    <td class="text-end">{{ record['shares'] }}</td>
                    <td class="text-end"> ${{ "{:.2f}".format(record['price']) }}</td>
                    <td class="text-end">{{ record['transacted'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
