{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<div class="container mt-5">

    <h3 class="mb-5">Hi {{ profile['username'] }}, Please reset your password!</h3>

    <form id="resetPasswordForm" action="/reset_password?token={{ token }}" method="post">

        <label for="password" class="form-label">Enter New Password</label>
        <!-- <div class="input-group mb-3"> -->
        <div class="d-flex justify-content-center">
            <div class="mb-3 position-relative" style="width: 300px;">
                <input class="form-control pr-5" autofocus id="password" name="password" placeholder="Password"
                    type="password" required>
                <button type="button" class="btn btn-link position-absolute top-50 translate-middle-y btn-no-outline"
                    style="right: 10px;" id="togglePasswordVisibility" onmousedown="showPassword('password')"
                    onmouseup="hidePassword('password')" onmouseleave="hidePassword('password')">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
        </div>


        <!-- <label for="confirmation" class="form-label">Confirm New Password</label> -->
        <div class="d-flex justify-content-center">
            <div class="mb-3 position-relative" style="width: 300px;">
                <input class="form-control pr-5" id="confirmation" name="confirmation" placeholder="Confirm Password"
                    type="password" required>
                <button type="button" class="btn btn-link position-absolute top-50 translate-middle-y btn-no-outline"
                    style="right: 10px;" id="toggleConfirmationVisibility" onmousedown="showPassword('confirmation')"
                    onmouseup="hidePassword('confirmation')" onmouseleave="hidePassword('confirmation')">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
        </div>

        <div id="passwordMismatchMessage" class="text-danger mb-3" style="display: none;">
            New password and confirmation password do not match.
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>

    </form>


    <script>
        function showPassword(id) {
            document.getElementById(id).type = "text";
        }

        function hidePassword(id) {
            document.getElementById(id).type = "password";
        }

        document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
            var newPassword = document.getElementById('password').value;
            var confirmation = document.getElementById('confirmation').value;
            if (newPassword !== confirmation) {
                document.getElementById('passwordMismatchMessage').style.display = 'block';
                event.preventDefault();
            } else {
                document.getElementById('passwordMismatchMessage').style.display = 'none';
            }
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</div>
{% endblock %}